
<h2>Add equipment to your list:</h2>
<br>
<form method="POST" action="/equipment">
<label for="equipment_name">Name:</label><br>
<input type="text" name="equipment[name]"/><br><br>
<input type="submit" value="Add equipment to your list">
</form>
<br>
<a class="button" href="/equipment">Back to your list</a><br>
<a class="button" href="/logout">Log Out</a>
name
